
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
    width: 300px;
    padding: 10px;
    
}

.title h1 {
    display: flex;
    justify-content: center;
    margin:0 auto;
    color: #ffffff;
    font-size:30px; 
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 700px) {
    .title {
      float: none;
      width: 100%;
    }
  }
