.clock-container {
    border-radius: 55px;
    width: 400px;
    height: 200px;
    // background-color: var(--primary);
    padding: 80px;
    font-size: 30px;
    box-shadow: 0 26px 55px 10px #312d2d;
}

app-current-time {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -60px;
}

app-set-time {
    display:flex;
    flex-direction: column;
    position: relative;
    top:-2rem;
}


