.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 55px;
    width: 400px;
    height: 188px;
    background-color: var(--primary);
    padding: 100px;
    font-size: 30px;
    box-shadow: 0 22px 18px -18px rgb(49, 45, 45);
}
.digitalClock {
    position: absolute;
    display: flex;
    height: 270px;
    width: 485px;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 55px; 
}

