<div class="clock-container">
    <div class="digitalClock">
        <div class="currentTime">
            <div class="hour">{{hour}} : </div>
            <div class="minute">{{minute}} : </div>
            <div class="second">{{second}} </div>
            <div class="ampm">{{AMPM}}</div>
        </div>
        <div class="setTime">
            <div id="hours_one" class="digit">0</div>
            <div id="hours_two" class="digit">0</div>
            <div id="divider">:</div>
            <div id="minutes_one" class="digit">0</div>
            <div id="minutes_two" class="digit">0</div>
            <div id="btnPlusHour" class="clockButton">+</div>
            <div id="btnMinusHour" class="clockButton">-</div>
            <div id="btnPlusMinute" class="clockButton">+</div>
            <div id="btnPlusMinute" class="clockButton">-</div>
        </div>
    </div>
</div>