.cancelButton, .setAlarmButton {
    display:flex;
    justify-content: center;
    position: relative;
    height: 100px;
    width:300px;
    margin:auto;
    top:50px;
    color: var(--primary);
    background-color: var(--bg);
    align-items: center;
    border-radius: 15px;
    border: 10px solid #FFFFFF;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.alarmSetText{
    color: var(--primary);
    font-size: 30px;
    display: flex;
    justify-content: center;
}