.cancelButton, .setAlarmButton {
    display:flex;
    justify-content: center;
    position: relative;
    height: 100px;
    width:300px;
    margin:auto;
    top:50px;
    color: black;
    background-color: #f8c296;
    align-items: center;
    border-radius: 10px;
    border: 10px solid black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.alarmSetText{
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
}