<div class="page-wrapper">
     <div class="plus-minus-buttons">        
         <button class="plus-hourOne-button" (click)="hourIncrement()"><i class='bx bxs-plus-square'></i></button>
         <button class="minus-hourTwo-button"(click)="hourDecrement()" ><i class='bx bxs-minus-square' ></i></button>
         <button class="plus-minuteOne-button" (click)="minuteIncrement()"><i class='bx bxs-plus-square'></i></button>
         <button class="minus-minuteTwo-button"(click)="minuteDecrement()"><i class='bx bxs-minus-square' ></i></button>
     </div>
     <div>
         <app-button-control [alarmHours]="alarmHours" [alarmMinutes]="alarmMinutes"></app-button-control>
    </div>
</div>
