.bx{
    font-size: 40px;
    color: var(--bg);
    height:50px;
    cursor: pointer;
}

.plus-hour-button, .minus-hour-button, .plus-minute-button, .minus-minute-button {
    position: relative;
    background-color: var(--primary);
    border: 0;
}
.plus-hour-button {
    right:10px;
}

.minus-hour-button {
    left:10px;
}

.plus-minute-button {
    left:80px;
}

.minus-minute-button {
    left: 100px;
}
