.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10rem;
}
.bx {
     font-size: 30px;
     height:10px;
     width:40px;
     color: #f8c296;
     background-color: black;
     padding: 20px;
     cursor: pointer;
}
.button:hover {
    background-color:#f8c296;
}

.plus-hour-button, .minus-hour-button, .plus-minute-button, .minus-minute-button {
    background-color: var(--primary);
    padding: 20px;
    border: 0;
}
.plus-hour-button {
    right:10px;
}

.minus-hour-button {
    left:10px;
}

.plus-minute-button {
    left:80px;
}

.minus-minute-button {
    left: 100px;
}
