.page-wrapper {
    padding: 8rem;
}

.plus-hour-button, .minus-hour-button, .plus-minute-button, .minus-minute-button {
   margin:15px;
    height:10px;
    width:50px;
    font-size: 40px;
    padding: 20px;
    background-color: #C380C6 ;
    border: 0;
    cursor: pointer;
}
