.page-wrapper {
    overflow: hidden;
    position: fixed;
    background-color: #00798e;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

app-header, app-digital-clock {
    display:flex;

}
app-header {
    justify-content: flex-start;
}

app-digital-clock {
    justify-content: center;
    
}




