<div class="page-wrapper">
    <div class="flex text-6xl">
        <div class="flex-column">
            <div class="day font-light text-white">{{day}}</div>
            <div class="text-2xl text-gray-700 p-1 font-light">DAY</div>
        </div>
        <div class=" -mt-8 p-8 text-10xl text-gray-700 font-medium">:</div>
        <div class="hour-container ">
            <div class="flex font-light text-white">
                <div id="hoursOne" class="digit" >{{hoursOne}}</div>
                <div id="hoursTwo" class="digit" >{{hoursTwo}}</div>
            </div>
            <div class="text-2xl text-gray-700 p-1 font-light">HOURS</div>
        </div>
        <div class="-mt-8 p-8 text-10xl text-gray-700 font-medium">:</div>
        <div class="minute-container">
            <div class="flex font-light text-white">
                <div id="minutesOne" class="digit" >{{minutesOne}}</div>
                <div id="minutesTwo" class="digit" >{{minutesTwo}}</div>
            </div>
            <div class="text-2xl text-gray-700 p-1 font-light">MINUTES</div>
        </div>
        <div class="-mt-8 p-8 text-10xl text-gray-700 font-medium">:</div>
        <div class="flex-column font-light text-white">
            <div class="second">{{second}} </div>
            <div class="text-2xl text-gray-700 font-light">SECONDS</div>
        </div>
    </div>
    <div>
        <app-plus-minus-button  (eventHourOne)= "updateHourOne($event)"
        (eventHourTwo)= "updateHourTwo($event)" (eventMinuteOne)= "updateMinuteOne($event)"
        (eventMinuteTwo)= "updateMinuteTwo($event)"></app-plus-minus-button>
    </div>
</div>

